@use "variables" as v;
@use "mixins";

.podlist {
  &__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include mixins.desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include mixins.tablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__header {
    font-size: 2.5rem;
    text-align: center;
  }

  &__podcast {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  &__div {
    display: inline-flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 1rem;
  }

  &__link {
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    link:active,
    link:hover {
      color: rgb(85, 85, 218);
    }
  }

  &__image {
    margin-top: 0.5rem;
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;
  }

  &__description {
    font-size: 1rem;
    margin: 0;
  }
}

.darkmode {
  background-color: antiquewhite;
  color: #242424;
  & a {
    color: #242424;
    &:active,
    &:hover {
      color: rgb(85, 85, 218);
    }
  }
}
